<?xml version="1.0"?>
<model>
  <name>x500_custom</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Ken</name>
    <email>ken@email.com</email>
  </author>
  <description>Custom version of the NXP HoverGames Drone development kit (KIT-HGDRONEK66) with custom modifications for specific use cases.</description>
</model>
